body {
    font-family: "Inter", sans-serif;
}

img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
img:focus-visible{
    outline-color: #FF007A;
    outline-style: dashed;
}
div:focus-visible{
    outline-color: none;
    outline-style: none;
}
.logoWithNameMobileModal img{
    width: auto;
    height: auto;
}
.close img{
    width: auto;
    height: auto;
}
.modal_navigation_buttons img{
    width: auto;
    height: auto;
}

.navigationLogo img{
    width: auto;
    height: auto;
    object-fit: none;
}

.imageCaption {
    margin-top: 8px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.projectPageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 52px;
}

.navigation {
    width: auto;
}

.navigation button {
    background-color: rgba(247, 247, 247, 1);
    color: #2C2C2C;
 
}

.navigation_button::after {
    background-color: #F7F7F7;
 
}
Button:focus{
    outline-color: transparent;
    outline-style: none;
}
button:focus-visible{
    outline-color: #FF007A;
    outline-style: dashed;
}

.projectnavigationButton:hover{
    background-color: hsl(0, 0%, 84%);
    cursor: pointer;
}

.projectContentInnerWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    margin-bottom: 92px;
    gap: 72px;
}

.projectTitle {
    font-family: 'Archivo Black', sans-serif;
    font-size: 64px;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 312px;

}

.footerProjectTitle {
    margin-top: 56px;
    font-size: 54px;
}

.projectPageText {
    font-style: italic;
    font-size: 16px;
    width: 600px;
    line-height: 24px;
}

.projectPageFooterText {
    width: 440px;
}

.doubleProjectImageWrapper {
    display: flex;
    gap: 2px;
}

.tripleProjectImage {
    display: flex;
    flex-direction: column;

}

.tripleProjectImagewrapper {
    margin-top: 2px;
    display: flex;
    gap: 2px;
}

.projectPageFooter {
    display: flex;
    gap: 72px;
    width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footerSection {
    width: 100%;
    background-color: #E1E1E1;
}

.footerButton {
    width: 143px;
    background-color: #F7F7F7;
    color: #2C2C2C;
}

.logo:hover {
    cursor: pointer;
}

.logoWithName {
    width: 51px;
    height: 72px;
    background-image: url(./img/logo.svg);
}

.footerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 50%;
}

.footerImage {
    width: 50%;
}

.footerBottomlogo {
    display: none;
}

@media (min-width: 1191px) {
    .content-container {
        width: 1144px;
    }

    .projectPageFooterText {
        width: 440px;
    }
}

@media (max-width: 1000px) {
    .content-container {
        width: 760px;
    }

    .projectPageFooter {
        display: flex;
        flex-direction: column;
        gap: 72px;
        width: 100%;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .projectPageFooterText {
        width: 600px;
    }

    .footerContent {
        width: 100%;
    }

    .footerImage {
        width: 100%;
    }

    .footerlogo {
        display: none;
    }

    .footerBottomlogo {
        display: block;
    }

}

@media (max-width: 808px) {
    .content-container {
        width: 568px;
    }

    .navigation_button::after {
        display: none;
    }

    .projectPageFooter {
        display: flex;
        flex-direction: column;
        gap: 72px;
        width: 100%;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .projectPageFooterText {
        width: auto;
    }
    .projectPageText {
        width: auto;
    }

    .footerContent {
        width: 100%;
    }

    .footerImage {
        width: 100%;
    }

}

@media (max-width: 616px) {
    .content-container {
        width: 424px;
    }

    .navigation {
        display: none;
    }
    .mobileNavWithHamburgerMenu {
        width: 100%;
    }

    .projectContentInnerWrapper {
        margin-top: 48px;
        gap: 48px;
    }

    .projectPageFooter {
        display: flex;
        flex-direction: column;
        gap: 72px;
        width: 100%;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .projectPageFooterText {
        margin-top: 24px;
        width: auto;
    }

    .footerContent {
        width: 100%;
    }

    .footerImage {
        width: 100%;
    }

    .projectPageFooterText {
        width: auto;
    }

    .projectTitle {
        margin-top: 24px;
        font-size: 32px;
    }

    .projectPageText {
        width: auto;
    }

    .doubleProjectImageWrapper> :last-child {
        display: none;
    }

    .tripleProjectImagewrapper> :last-child {
        display: none;
    }

}


@media (max-width: 472px) {
    body{
        overflow-x: hidden;
    }
    img{
        height: 312px;
    }
    .image {
        height: 312px;
    }

    .content-container {
        width: 312px;
    }

    .navigation {
        display: none;
    }

    .projectContentInnerWrapper {
        margin-top: 48px;
        gap: 48px;
    }

    .projectPageFooter {
        display: flex;
        flex-direction: column;
        gap: 48px;
        width: 100%;
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .projectPageFooterText {
        margin-top: 24px;
        width: auto;
    }

    .footerContent {
        width: 100%;
    }

    .projectImage1 {
        width: 100%;
        height: 312px;
    }

    .projectImage2 {
        width: 100%;
        height: 312px;
    }

    .projectImage3 {
        width: 100%;
        height: 312px;
    }

    .projectTitle {
        font-size: 32px;
        margin-top: 24px;
    }

    .projectPageText {
        width: auto;
    }

    .doubleProjectImageWrapper> :last-child {
        display: none;
    }

    .tripleProjectImagewrapper> :last-child {
        display: none;
    }
}