* {
    padding: 0;
    margin: 0;
}


body {
    overflow: auto;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    line-height: 1;

}

a {
    text-decoration: none;
    transition: none;
    scroll-behavior: auto;
    cursor: pointer;

}

a:focus {
    outline-color: #FF007A;
    outline-style: dashed;
    border: none;
}

p {
    font-style: italic;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.inter-italic {
    font-family: "Inter", sans-serif;
    font-style: italic;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
}

input:focus-visible {
    outline-color: #FF007A;
    outline-style: dashed;
    border: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: 14px 24px;
    font-family: "Inter", sans-serif;
    background-color: rgba(0, 0, 0);
    font-size: 16px;
    color: #DADADA;
    font-style: italic;
    border-style: none;
    outline-color: transparent;
    outline-style: transparent;

}

button:hover {
    background-color: hsl(0, 0%, 16%);
    cursor: pointer;
}

button:focus-visible {
    outline-color: #FF007A;
    outline-style: dashed;
}

button:active {
    outline-color: transparent;
    outline-style: transparent;
}



.content-container {
    margin: 0 auto;
    height: 100%;

}

.header {
    box-sizing: border-box;
    background-color: #DADADA;
    height: 456px;
    width: 100vw;
    padding-top: 52px;
    padding-bottom: 52px;
}

.header_content-wrapper {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;

}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.navigation p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.navigation_buttons {
    display: flex;
    gap: 4px;

}

.navigation_buttons button {
    padding: 14px 24px 14px 24px;

}

.navigation_button::after {
    position: relative;
    left: 28px;
    content: "";
    width: 4px;
    height: 2px;
    background-color: #000000;
}

.navigation_button::after:nth-child(1) {
    display: none;
}

.mobileNavWithHamburgerMenu {
    display: none;
    z-index: 1;
}

/* Navigation that is for screens wider that tablet */
.stickyNavPopUp {
    display: none;
    position: fixed;
    top: 8px;
    left: 8px;
    animation: navigationSliderTopToBottom 0.5s ease-in;
    animation-direction: normal;
    z-index: 1;
}

.stickyNavPopUpWrapper {
    height: 64px;
    border-radius: 8px;
    background-color: #FFE27C;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stickyNavPopUpWrapper button {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 128px;
    background-color: transparent;
    color: #000000;
    font-style: italic;
    border-style: none;
    cursor: pointer;
}

.stickyNavPopUpWrapper button:hover {
    background-color: #EBCE68;
}

.stickyNavPopUpWrapper button:last-child:hover {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: #EBCE68;
}

.stickyNavPopUpLogoWithName {
    padding: 0px 72px 0px 16px;
}

.burgerMenuDivider {
    display: block;
    height: 52px;
    content: "";
    width: 1px;
    background-color: black;
}

.title {
    margin-top: 128px;
    margin-bottom: 24px;
    font-family: "Archivo Black", sans-serif;
    font-size: 128px;
}

.projects_showcase {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.project {
    height: 400px;
    display: flex;
    align-items: center;
    z-index: -1;
    cursor: pointer;
}


.projectWrapperButton {
    color: #000000;
    padding: 0;
    z-index: 0;
    background-color: transparent;
}

.projectWrapperButton:hover {
    background-color: transparent;
}

.projectWrapperButton:focus-visible {
    outline-color: #FF007A;
    outline-style: dashed;
}

.project:hover {
    opacity: 0.9;
}

.project img {
    height: 400px;
    object-fit: cover;
}

.decorLineForProject {
    display: flex;
    align-items: center;
    content: "";
    height: 1px;
    background-color: #010101;
    width: 201px;
}

.project2 {
    flex-direction: row-reverse;
}

.projectText {
    font-style: italic;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 143px;
    line-height: 24px;
}

.listing {
    display: inline-block;
    justify-content: center;
    padding-left: 24px;
    padding-top: 26px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    flex: 1 1 0px;
}

.listing p {
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 26px;
}

.we_do_offer_listing {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.we_do_offer_upper_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.we_do_offer_lower_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.personDetails {
    font-style: italic;
    line-height: 24px;
}

.teamPictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 4px;
}

.teamPictures2 {
    flex-direction: row-reverse;
}

#teamPic1 {
    background-image: url(./img/teamPic1.svg);
}



.decorLineForTeamPic {
    display: flex;
    align-items: center;
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #010101;
}

input::placeholder {
    font-style: italic;
    text-align: center;
    color: #8D8D8D;
}

textarea::placeholder {
    font-style: italic;
    text-align: center;
    position: relative;
    /* Make placeholder text positionable */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust positioning for centering */
    color: #8D8D8D;
}

textarea::-moz-placeholder {
    /* Target Firefox */
    position: relative;
    /* Make placeholder text positionable */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Adjust positioning for centering */

}

.email_sending_form {
    display: flex;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    height: 244px;
}

.formElement {
    display: flex;
    flex-direction: column;
    color: black;
    flex: 1;
    background-color: transparent;
    border-right: solid 1px black;

}

.emailTableElement {
    outline-color: none;
    outline-style: none;
    padding-top: 24px;
    padding-left: 24px;
}

.emailPlaceholderElement {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    margin-bottom: 24px;
    font-style: italic;
    color: #8D8D8D;
}

.contact_form input {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    width: 100%;
    border: none;
}

.contact_form textarea {
    display: flex;
    padding: 24px;
    background-color: transparent;
    width: 100%;
    border: none;
    height: 244px;
    overflow-wrap: break-word;
    resize: none;


}

input:focus-visible {
    outline-color: none;
    outline-style: none;
}

textarea:focus-visible {
    outline-color: #FF007A;
    outline-style: dashed;
}

.error-message {
    display: flex;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    height: 24px;
    position: relative;
    bottom: 8px;
    justify-content: end;
    visibility: hidden;
    color: red;
}



.contact_form-button {
    max-width: 244px;
}

.paragraphTexts {
    font-style: italic;
    max-width: 600px;
    margin-top: 24px;
    margin-bottom: 72px;
    font-size: 16px;
    line-height: 24px;
}

/* Modal Window Styles */
.modalMenu {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #FFE27C;
    animation: modalSliderTopToBottom 0.3s ease-in;
}

.modalContentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalMenuContent {
    background-color: #FFE27C;
    height: 100%
}

.modal_navigation_buttons {
    display: flex;
    flex-direction: column;
}

.modal_navigation_buttons a {
    display: flex;
    justify-content: space-between;

}

.close p {
    font-size: 16px;
}

.close {
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 72px;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    float: right;
    font-size: 28px;
    background-color: transparent;
}

.close:hover,
.close:focus {
    color: black;
    background-color: #EBCE68;
    ;
    text-decoration: none;
    cursor: pointer;
}

.contact_form {
    margin-bottom: 72px;
}

.email_sending_form button {
    height: 242px;
    justify-content: center;
}

.email_sending_form button:hover {
    color: black;
    background-color: hsl(0, 0%, 95%);
}

@keyframes navigationSlider {
    0% {
        bottom: -70px;
        display: none;
    }

    100% {
        bottom: 8px;
        display: flex;
    }
}

@keyframes navigationSlider-reverse {
    0% {
        bottom: 8px;
        display: flex;
    }

    100% {
        bottom: -70px;
        display: none;
    }
}

@keyframes navigationSliderTopToBottom {
    0% {
        top: -70px;
        display: none;
    }

    100% {
        top: 8px;
        display: flex;
    }
}

@keyframes navigationSliderTopToBottom-reverse {

    0% {
        top: 8px;
        display: flex;
    }

    100% {
        top: -70px;
        display: none;
    }
}

@keyframes modalSliderTopToBottom {
    0% {
        top: 100vh;
        display: none;
    }

    100% {
        bottom: 0px;
        display: block;
    }
}

@keyframes modalSliderTopToBottom-reverse {


    0% {
        bottom: 0px;
        display: block;
    }

    100% {
        top: 100vh;
        display: none;
    }
}

/* Desktop L */
@media (min-width: 1191px) {

    .content-container {
        width: 1144px;
    }
}

/* Desktop S */
@media (max-width: 1190px) {

    .content-container {
        width: 952px;
    }

    .header_content-wrapper {
        flex-direction: column;
        justify-content: space-between;
    }

    .navigation {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .projectText {
        width: 143px;
    }

    .project img {

        width: 709px;
    }

    .decorLineForProject {
        width: 100px;
    }


    .decorLineForTeamPic {
        display: flex;
        align-items: center;
        content: "";
        height: 1px;
        background-color: #010101;
    }

}


/* Tablet L */
@media (max-width: 1000px) {

    .content-container {
        width: 760px;
    }

    .project img {
        width: 517px;
    }

    .decorLineForProject {
        width: 100px;
    }

    .decorLineForTeamPic {
        display: flex;
        align-items: center;
        content: "";
        height: 1px;
        background-color: #010101;
    }
}


/* Tablet S */
@media (max-width: 808px) {
    .content-container {
        width: 568px;
    }

    .header_content-wrapper {
        flex-direction: column;
        justify-content: space-between;
    }

    .stickyNavPopUp {
        display: none;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navigation_buttons {
        margin-top: 24px;
    }

    .navigation_button::after {
        display: none;
    }

    .header {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .projects_showcase {
        gap: 24px;
    }

    .project {
        height: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project img {
        height: 320px;
        width: 568px;
    }

    .decorLineForProject {
        display: none;
    }

    .projectText {
        width: 100%;
        justify-content: flex-start;
    }

    .decorLineForTeamPic {
        display: none;

    }

    .listing {
        flex: 1 1 258px;
    }

    .teamPictures {
        display: block;
        flex-direction: column;
        text-align: left;
    }

    .personDetails {
        display: flex;
        margin-bottom: 24px;
    }

    .name {
        display: flex;
    }

    .name::after {
        content: "—";
        height: 0px;
    }


    .personDetails img {
        width: 2%;
    }

    .email_sending_form {
        flex-direction: column;
        height: 488px;
    }
    .contact_form input{
        margin-top: 24px;
        margin-left: 24px;
    }

    .formElement {
        padding: 0;
        justify-content: space-between;
        border-bottom: solid 1px black;
    }

    #emailPlaceholderElement {
        height: auto;
        margin-bottom: 24px;
    }

    .email_sending_form button {
        justify-content: center;
        padding: 0px;
        border-bottom: none
    }

    .contact_form textarea{
        height: 100%;
    }
    .contact_form-button {
        max-width: none
    }
}


/* Mobile L */
@media (max-width: 616px) {

    .content-container {
        width: 424px;
    }

    .title {
        margin-top: 96px;
        font-size: 62px;
    }

    .listing {
        padding-left: 0px;
        display: grid;
        flex: 1 1 208px;
        text-align: center;
    }

    .navigation_buttons {
        flex-wrap: wrap;
    }

    .navigation_button::after {
        display: none;
    }

    .project {
        height: auto;
    }

    .project img {
        height: 320px;
        width: 424px;
    }

    .decorLineForProject {
        display: none;
    }

    .mobileNavWithHamburgerMenu {
        margin: 0 auto;
        display: none;
        position: fixed;
        justify-content: center;
        width: 100%;
        bottom: 8px;
        opacity: 1;
        animation: opacity 0.3s ease-in;
        animation-fill-mode: forwards;

    }

    .mobileNavWithHamburgerMenuWrapper {
        width: 100%;
        margin-left: 8px;
        margin-right: 8px;
        height: 64px;
        border-radius: 8px;
        background-color: #FFE27C;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoWithNameMobile {
        display: flex;
    }

    .logoWithNameMobileModal {
        margin-top: 96px;
    }

    .burger_menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;

    }

    .burger_menu span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: black;
    }

    .burgerMenuDivider {
        display: block;
        height: 52px;
        content: "";
        width: 1px;
        background-color: black;
    }

    .burgerElement {
        padding: 16px;
        width: 50%;
    }

    .name::after {
        display: none;
    }

    .personDetails {
        display: flex;
        flex-direction: column;
    }

    .teamPictures img {
        width: 424px;
        object-fit: cover;
    }

    #teamPic1 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_L_616/teamPicMobile1.svg);
        background-repeat: no-repeat;
    }

    #teamPic2 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_L_616/teamPicMobile2.svg);
        background-repeat: no-repeat;
    }

    #teamPic3 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_L_616/teamPicMobile3.svg);
        background-repeat: no-repeat;
    }

    .stickyNavPopUp {
        display: none;
    }

    .contact_form {
        margin-bottom: 136px;
    }
}


/* Mobile S */
@media (max-width: 472px) {

    .content-container {
        width: 312px;
    }

    .title {
        font-size: 62px;
        margin-top: 72px;
    }

    .listing {
        display: flex;
        flex-direction: column;
        justify-content: end;
        text-align: center;
        text-wrap: nowrap;
        padding-top: 26px;
        padding-left: 14px;
        padding-right: 14px;
        flex: 1 1 130px;
    }

    .webDevelopment_offer {
        display: flex;
        flex-direction: column;
        text-align: center;
        text-wrap: nowrap;
        padding-top: 26px;
        padding-left: 9px;
        padding-right: 9px;
    }

    .project {
        height: auto;
    }

    .project img {
        height: 320px;
        width: 312px;
    }

    .decorLineForProject {
        display: none;
    }

    .mobileNavWithHamburgerMenu {
        margin: 0 auto;
        display: none;
        position: fixed;
        justify-content: center;
        width: 100%;
        bottom: 8px;
        opacity: 1;
        animation: opacity 1s ease-in;
        animation-fill-mode: forwards;

    }

    .mobileNavWithHamburgerMenuWrapper {
        width: 100%;
        margin-left: 8px;
        margin-right: 8px;
        height: 64px;
        border-radius: 8px;
        background-color: #FFE27C;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoWithNameMobile {
        display: flex;
    }

    .logoWithNameMobileModal {
        margin-top: 96px;
    }

    .burger_menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;

    }

    .burger_menu span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: black;
    }

    .burgerMenuDivider {
        display: block;
        height: 52px;
        content: "";
        width: 1px;
        background-color: black;
    }

    .burgerElement {
        padding: 16px;
        width: 50%;
    }

    #teamPic1 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_S_360/teamPicMobile1_360.svg);
        background-repeat: no-repeat;
    }

    #teamPic2 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_S_360/teamPicMobile2_360.svg);
        background-repeat: no-repeat;
    }

    #teamPic3 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_S_360/teamPicMobile3_360.svg);
        background-repeat: no-repeat;
    }

    .stickyNavPopUp {
        display: none;
    }

    .contact_form {
        margin-bottom: 136px;
    }
}