* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    transition: none;
    scroll-behavior: auto;
}

p {
    font-style: italic;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.inter-italic {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: 14px 24px;
    font-family: "Inter", sans-serif;
    background-color: #000000;
    font-size: 16px;
    color: #DADADA;
    font-style: italic;
    border-style: none;
    cursor: pointer;
}

button:hover {
    color: #DADADA;
    background-color: rgba(0, 0, 0, 0.16)
}

:focus {
    outline-style: dotted;
    /* Set outline style to dotted */
    outline-color: red;
}


.content-container {
    margin: 0 auto;
    height: 100%;

}

.header {
    box-sizing: border-box;
    background-color: #DADADA;
    height: 456px;
    width: 100vw;
    padding-top: 52px;
    padding-bottom: 52px;
}

.header_content-wrapper {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-between;

}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navigation_buttons {
    display: flex;
    gap: 4px;
}

.navigation_button::after {
    position: relative;
    left: 28px;
    content: "";
    width: 4px;
    height: 2px;
    background-color: #000000;
}

.navigation_button::after:nth-child(1) {
    display: none;
}

.mobileNavWithHamburgerMenu {
    display: none;
    z-index: 1;
}

/* Navigation that is for screens wider that tablet */
.stickyNavPopUp {
    display: none;
    position: fixed;
    top: 8px;
    left: 8px;
    animation: navigationSliderTopToBottom 0.5s ease-in;
    animation-direction: normal;
    z-index: 1;
}

.stickyNavPopUpWrapper {
    height: 64px;
    border-radius: 8px;
    background-color: #FFE27C;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stickyNavPopUpWrapper button {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    color: #000000;
    font-style: italic;
    border-style: none;
    cursor: pointer;
}

.stickyNavPopUpWrapper button:hover {
    background-color: #EBCE68;
}

.stickyNavPopUpLogoWithName {
    padding: 0px 72px 0px 16px;
}

.burgerMenuDivider {
    display: block;
    height: 52px;
    content: "";
    width: 1px;
    background-color: black;
}

.title {
    margin-top: 128px;
    margin-bottom: 24px;
    font-family: "Archivo Black", sans-serif;
    font-size: 128px;
}

.project {
    display: flex;
    align-items: center;
    z-index: -1;
}

.project:hover {
    opacity: 0.9;
}

.project img {
    width: 800px;
}

.decorLineForProject {
    display: flex;
    align-items: center;
    content: "";
    height: 1px;
    background-color: #010101;
    width: 201px;
}

.project2 {
    flex-direction: row-reverse;
}

.projectText {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 143px;
}

.listing {
    display: inline-block;
    justify-content: center;
    padding-left: 24px;
    padding-top: 26px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    flex: 1 1 0px;
}

.listing p {
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 26px;
}

.we_do_offer_listing {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.we_do_offer_upper_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.we_do_offer_lower_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.teamPictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 4px;
}

.teamPictures2 {
    flex-direction: row-reverse;
}

#teamPic1 {
    background-image: url(./img/teamPic1.svg);
}



.decorLineForTeamPic {
    display: flex;
    align-items: center;
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #010101;
}

.email_sending_form {
    display: flex;
    border: solid 1px black;
}

.formEmelemnt {
    color: black;
    flex: 1;
    text-align: center;
    background-color: transparent;

}

.contact_form input {
    background-color: transparent;
    border: none;
    border-right: solid 1px black;
    height: 244px;
}

.paragraphTexts {
    font-style: italic;
    max-width: 600px;
    margin-top: 24px;
    margin-bottom: 72px;
}

/* Modal Window Styles */
.modalMenu {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFE27C;
    overflow: auto;
}

.modalContentWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalMenuContent {
    background-color: #FFE27C;
    height: 100%
}

.modal_navigation_buttons {
    display: flex;
    flex-direction: column;
}

.modal_navigation_buttons a {
    display: flex;
    justify-content: space-between;

}

.close p {
    font-size: 16px;
}

.close {
    color: black;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 72px;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
}

.close:hover,
.close:focus {
    color: black;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.contact_form {
    margin-bottom: 72px;
}

.email_sending_form button {
    height: 244px;
    justify-content: center;
}

.email_sending_form button:hover {
    color: white;
}

@keyframes navigationSlider {
    0% {
        bottom: -70px;
        display: none;
    }

    100% {
        bottom: 8px;
        display: flex;
    }
}

@keyframes navigationSlider-reverse {
    0% {
        bottom: 8px;
        display: flex;
    }

    100% {
        bottom: -70px;
        display: none;
    }
}

@keyframes navigationSliderTopToBottom {
    0% {
        top: -70px;
        display: none;
    }

    100% {
        top: 8px;
        display: flex;
    }
}

@keyframes navigationSliderTopToBottom-reverse {

    0% {
        top: 8px;
        display: flex;
    }

    100% {
        top: -70px;
        display: none;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
        display: flex;
    }

    100% {
        opacity: 0;
        display: none;
    }
}


@media (min-width: 1191px) {
    .content-container {
        width: 1144px;
    }
}

@media (max-width: 1190px) {
    .content-container {
        width: 952px;
    }

    .header_content-wrapper {
        flex-direction: column;
        justify-content: space-between;
    }

    .navigation {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
    }

    .projectText {
        width: 143px;
    }

    .project img {
        width: 709px;
    }

    .decorLineForProject {
        width: 100px;
    }


    .decorLineForTeamPic {
        display: flex;
        align-items: center;
        content: "";
        height: 1px;
        background-color: #010101;
    }

}

@media (max-width: 1000px) {
    .content-container {
        width: 760px;
    }

    .project img {
        width: 517px;
    }

    .decorLineForProject {
        width: 100px;
    }

    .decorLineForTeamPic {
        display: flex;
        align-items: center;
        content: "";
        height: 1px;
        background-color: #010101;
    }
}

@media (max-width: 808px) {
    .content-container {
        width: 568px;
    }

    .header_content-wrapper {
        flex-direction: column;
        justify-content: space-between;
    }

    .stickyNavPopUp {
        display: none;
    }

    .navigation {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navigation_buttons {
        margin-top: 24px;
    }

    .navigation_button::after {
        display: none;
    }

    .header {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .project {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project img {
        width: 568px;
    }

    .decorLineForProject {
        display: none;
    }

    .projectText {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 24px;
    }

    .decorLineForTeamPic {
        display: none;

    }

    .listing {
        flex: 1 1 258px;
    }

    .teamPictures {
        display: block;
        flex-direction: column;
        text-align: left;
    }

    .personDetails {
        display: flex;
        margin-bottom: 24px;
    }

    .name {
        display: flex;
    }

    .name::after {
        content: "—";
        height: 0px;
    }


    .personDetails img {
        width: 2%;
    }

    .email_sending_form {
        flex-direction: column;
        height: 488px;
        border: solid 1px black;
    }

    .email_sending_form input {
        border-right: solid 0px black;
        border-bottom: solid 1px black;
    }

    .email_sending_form button {
        justify-content: center;
        padding: 0px;
    }
}

@media (max-width: 616px) {
    .content-container {
        width: 424px;
    }

    .title {
        margin-top: 96px;
        font-size: 62px;
    }

    .listing {
        flex: 1 1 180px;
    }

    .navigation_buttons {
        flex-wrap: wrap;
    }

    .navigation_button::after {
        display: none;
    }

    .project img {
        width: 424px;
    }

    .decorLineForProject {
        display: none;
    }

    .mobileNavWithHamburgerMenu {
        margin: 0 auto;
        display: none;
        position: fixed;
        justify-content: center;
        width: 100%;
        bottom: 8px;
        opacity: 1;
        animation: opacity 1s ease-in;
        animation-fill-mode: forwards;

    }

    .mobileNavWithHamburgerMenuWrapper {
        width: 100%;
        margin-left: 8px;
        margin-right: 8px;
        height: 64px;
        border-radius: 8px;
        background-color: #FFE27C;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoWithNameMobile {
        display: flex;
    }

    .logoWithNameMobileModal {
        margin-top: 96px;
    }

    .burger_menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;

    }

    .burger_menu span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: black;
    }

    .burgerMenuDivider {
        display: block;
        height: 52px;
        content: "";
        width: 1px;
        background-color: black;
    }

    .burgerElement {
        padding: 16px;
        width: 50%;
    }

    .name::after {
        display: none;
    }

    .personDetails {
        display: flex;
        flex-direction: column;
    }

    .teamPictures img {
        width: 424px;
        object-fit: cover;
    }

    #teamPic1 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_L_616/teamPicMobile1.svg);
        background-repeat: no-repeat;
    }

    #teamPic2 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_L_616/teamPicMobile2.svg);
        background-repeat: no-repeat;
    }

    #teamPic3 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_L_616/teamPicMobile3.svg);
        background-repeat: no-repeat;
    }

    .stickyNavPopUp {
        display: none;
    }
}


@media (max-width: 472px) {
    .content-container {
        width: 312px;
    }

    .title {
        font-size: 62px;
    }

    .listing {
        flex: 1 1 130px;
    }

    .project img {
        width: 312px;
    }

    .decorLineForProject {
        display: none;
    }

    .mobileNavWithHamburgerMenu {
        margin: 0 auto;
        display: none;
        position: fixed;
        justify-content: center;
        width: 100%;
        bottom: 8px;
        opacity: 1;
        animation: opacity 1s ease-in;
        animation-fill-mode: forwards;

    }

    .mobileNavWithHamburgerMenuWrapper {
        width: 100%;
        margin-left: 8px;
        margin-right: 8px;
        height: 64px;
        border-radius: 8px;
        background-color: #FFE27C;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoWithNameMobile {
        display: flex;
    }

    .logoWithNameMobileModal {
        margin-top: 96px;
    }

    .burger_menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;

    }

    .burger_menu span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: black;
    }

    .burgerMenuDivider {
        display: block;
        height: 52px;
        content: "";
        width: 1px;
        background-color: black;
    }

    .burgerElement {
        padding: 16px;
        width: 50%;
    }

    #teamPic1 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_S_360/teamPicMobile1_360.svg);
        background-repeat: no-repeat;
    }

    #teamPic2 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_S_360/teamPicMobile2_360.svg);
        background-repeat: no-repeat;
    }

    #teamPic3 {
        width: 100%;
        height: 240px;
        background-image: url(./img/mobile/Mobile_S_360/teamPicMobile3_360.svg);
        background-repeat: no-repeat;
    }

    .stickyNavPopUp {
        display: none;
    }
}